.body{
    display: flex;
    width: 100vw; /* 100% der Viewport-Breite */
    height: 100vh; /* 100% der Viewport-Höhe */
    background-color: var(--primary-color);
}


.login-container{
    display: flex;
    background-color: var( --tertiary-color);
    width: 50vw;
    height: 90vh;
    position: fixed; 
    bottom: 0;
    right: 0;
    border-radius: 100px 0 0 0;
}