################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Login_Backend/.vs/Login_Backend/FileContentIndex/dbd3f2f1-6536-4b63-a79c-0a433a327134.vsidx
