<div class="body">
    <div class="login-container">
        <div class="login-form">
            <p class="welcome">Welcome to</p>
            <p class="logo"><img src="../../../assets/logo.png"> <span>MyDashCraft</span> </p>
            <form>
                <label>Email</label>
                <input type="text" placeholder="Enter your Email">
                <label>Password</label>
                <input type="text" placeholder="*************">
                <p class="forgotpassword"><a>Forgott password?</a></p>
            </form>

        </div>
    </div>
</div>



